<body>
   <div style="background-color:aquamarine;width:1200px;height:580px;">
       <br><br><br>
        <div style="margin-left:480px;background-color:white;border-radius: 50%;width: 200px;height: 200px; ">
        </div>
        <br><br>
        <h1 style="transform: rotate(-365deg);margin-left:10px;color:white;text-align: center; font: italic bold 12px/30px Georgia, serif;font-size:45px;"><span>Louie Jie Mahusay</span></h1>
        <br> <br> 

        <h3 style="margin-left:10px;color:white;text-align: center; font: 15px arial, sans-serif;font-size:25px;font-weight:bold;"><span>Web Developer / Photographer</span></h3>
        <a href="#" class="fa fa-facebook" style="margin-left:445px;"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
    </div>

    <!-- Start home-about Area -->
		
                    <div  style="float: left;width:1200px;height:560px;background-color:white;">
                        <br> <br> <br><br><br>
                           <div class="column left" style="width:350px;height:350px;margin-left:150px;background-color:aquamarine;">
                           </div>   
                           <div  class="column middle" style="float: left;width:400px;height:370px;margin-left:150px;background-color:white;">
                                <h3 style="font-family:sans-serif;">About Me</h3>
                                <br>
                                <h1 style="font-family:sans-serif;font-weight:bold;">PERSONAL DETAILS</h1>
                                <br>
                                <p style="font-family:sans-serif;">
                                    Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                </p>

                           </div>
                    </div>

                    <div id="mainArea" class="quickFade delayFive">
                        <section>
                            <article>
                                <div class="sectionTitle">
                                    <h1 style="font-size:30px;">Personal Profile</h1>
                                </div>
                                
                                <div class="sectionContent">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                </div>
                            </article>
                            <div class="clear"></div>
                        </section>
                        <hr>
                        
                        <section>
                            <div class="sectionTitle">
                                <h1 style="font-size:30px;">Work Experience</h1>
                            </div>
                            
                            <div class="sectionContent">
                                <article>
                                    <h2>Job Title at Company</h2>
                                    <p class="subDetails">April 2011 - Present</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                </article>
                                
                                <article>
                                    <h2>Job Title at Company</h2>
                                    <p class="subDetails">Janruary 2007 - March 2011</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                </article>
                                
                                <article>
                                    <h2>Job Title at Company</h2>
                                    <p class="subDetails">October 2004 - December 2006</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                                </article>
                            </div>
                            <div class="clear"></div>
                        </section>
                        <hr>
                        
                        <section>
                            <div class="sectionTitle">
                                <h1 style="font-size:30px;">Domain</h1>
                            </div>
                            
                            <div class="sectionContent">
                                <ul class="keySkills">
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                    <li>A Key Skill</li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </section>
                        <hr>
                        
                        <section>
                            <div class="sectionTitle">
                                <h1 style="font-size:30px;">Education</h1>
                            </div>
                            
                            <div class="sectionContent">
                                <article>
                                    <h2>College/University</h2>
                                    <p class="subDetails">Qualification</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
                                </article>
                                
                                <article>
                                    <h2>College/University</h2>
                                    <p class="subDetails">Qualification</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
                                </article>
                            </div>
                            <div class="clear"></div>
                        </section>
                        <hr>
                    </div>


                <!-- End home-about Area -->
                	<!-- Highlights -->
 <section class="wrapper" style="background-color: white;">
    <div class="inner">
        <header class="special">
            <br><br>
            <h2 style="text-align:center;">Services I Offer</h2>
            <p style="text-align:center;">In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
        <br>
        </header>
        <div class="highlights">
            <section style="margin-left:60px;">
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
                        <h3>Upload Resume</h3>
                    </header>
                    <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
                        <h3>Recommendations</h3>
                    </header>
                    <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
                        <h3>Save Jobs</h3>
                    </header>
                    <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </div>
            </section>
            <section style="margin-left:60px;">
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                        <h3>Location</h3>
                    </header>
                    <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                        <h3>Chating</h3>
                    </header>
                    <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </div>
            </section>
            <section>
                <div class="content">
                    <header>
                        <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                        <h3>Hiring</h3>
                    </header>
                    <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </div>
            </section>
            <br><br><br>
        </div>
    </div>
    <div  style="float: left;width:1200px;height:560px;background-color:white;">
        <br> <br> <br><br>
           <div class="column left" style="width:370px;height:390px;margin-left:130px;">
            <img class="do" src="assets/images/viewcv1.jpg"  style="width:350px; height:350px;">
           </div> 
        <br> <br> <br>

         

           <div  class="column middle" style="float: left;width:400px;margin-left:150px;background-color:white;">
            <p style="font-family:sans-serif;">
                Here, I focus on a range of items and features that we use in life without giving them a second thought. such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
            </p>
            <br>
            <button class="button"  (click)="view()" style="margin-left:120px;" >View CV</button>

           </div>
    </div>
</section>




    
 <div id="fh5co-skills" class="animate-box" style="background-color:#f4f7f8;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <br><br>
                    <h2 style="display:inline;font-weight:bold;font-size:40px;font-family:sans-serif;">Skills</h2>
				</div>
            </div>
            <br>
			<!--<div class="row row-pb-md">
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="95"><span><strong>HTML5</strong>95%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="93"><span><strong>CSS3</strong>93%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>jQuery</strong>90%</span></div>
				</div>

				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="89"><span><strong>PHP</strong>89%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>MySQL</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>AngularJS</strong>90%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="85"><span><strong>Ruby</strong>85%</span></div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12 text-center">
					<div class="chart" data-percent="90"><span><strong>Java</strong>90%</span></div>
				</div>
			</div>-->
			<div class="row">
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">HTML5/CSS3</span><span class="value-right" style="margin-left:340px;">95%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">WordPress</span><span class="value-right" style="margin-left:370px;">90%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-2 progress-bar-striped active" role="progressbar"
						  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">PHP</span><span class="value-right" style="margin-left:440px;">80%</span></h3>
						<div class="progress">
						  <div  style="width:100px;"class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Java</span><span class="value-right" style="margin-left:440px;">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="progress-wrap">
						<h3><span class="name-left">Design</span><span class="value-right" style="margin-left:420px;">100%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-5 progress-bar-striped active" role="progressbar"
						  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Ruby</span><span class="value-right" style="margin-left:450px;">70%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">Python</span><span class="value-right" style="margin-left:430px;">85%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-1 progress-bar-striped active" role="progressbar"
						  aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%">
						  </div>
						</div>
					</div>
					<div class="progress-wrap">
						<h3><span class="name-left">jQuery</span><span class="value-right" style="margin-left:430px;">75%</span></h3>
						<div class="progress">
						  <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
						  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%">
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <br><br>
   
</body>